<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD_h1Ar0iR-cgcV12e3jQ4BoBrfeleJcU</string>
	<key>GCM_SENDER_ID</key>
	<string>271950561801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sis23.saver</string>
	<key>PROJECT_ID</key>
	<string>saver-sis23</string>
	<key>STORAGE_BUCKET</key>
	<string>saver-sis23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271950561801:ios:c4c4676e8f4b4ae8662ed8</string>
</dict>
</plist>